  <div id="content">
    <div class="content" id="discografia">
      <h2>DISCOGRAFIA</h2>
      <div class="half">
        <img src="./assets/images/exemplos.jpg" alt="Title" title="title" width="100%">
      </div>
      <div class="half">
        <ul class="discografia code">
          <li><%= @discografia.title %></li>
          <% @mp3s.each_with_index do |mp3, index| %>
          <li>
            <%= index %>. <%= mp3.title %>
            <span class="code">
              <a href="<%= mp3.youtube_url %>" target="_blank">Ouvir / leta</a>
            </span>
          </li>
          <% end %>
          <li>
            <ul class="botao">
              <li><a href="http://www.canoserrado.com.br/cano-serrado-ep-realidade-caotica-2017.zip" title="Youtube">BAIXAR CD</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <% if !@patrocinio.nil? %>
      <p style="height:30px">&nbsp;</p><br>
      <img src="<%= @patrocinio.file %>" alt="" title="" width="100%">
      <% end %>
    </div>
  </div>