<!DOCTYPE html>
<html>
  <head>
    <title>Canoserrado</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300' rel='stylesheet' type='text/css'>
  </head>

  <% if @banner != nil %>
  <body style="background: url(<%= @banner.first.file %>) #080808 fixed center top no-repeat;">
  <% else %>
  <body style="background: #080808 fixed center top no-repeat;">
  <% end %>
    <%= yield %>

    <script>
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 300){
                $('header').addClass("min");
            }
            else{
                $('header').removeClass("min");
            }
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('.logo').addClass("min");
            }
            else{
                $('.logo').removeClass("min");
            }
        });
        YPlaylist.init({
            playlist: 'PLVVUanhHwI6qM5mRZofDnive4721GDKNy',
            apiKey: 'AIzaSyCTWXTYYIJaKZK6Ful8qpz0b8WoIKZy7w8',
            container: $('#playlist'),
            shuffle: false
        });
    </script>
  </body>
</html>
