<!DOCTYPE html>
<html>
  <head>
    <title>Cano Serrado</title>

    <meta name="description" content="<%= @config.site_description %>"/>
    <meta name="author" content="<%= @config.author %>"/>
    <meta name="copyright" content="<%= @config.copyright %>"/>
    <meta name="rating" content="general"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="generator" content="Ruby on Rails"/>
    <meta name="robots" content="all"/>

    <meta property="og:title" content="Cano Serrado"/>
    <meta property="og:description" content="<%= @config.site_description %>"/>
    <meta property="og:image" content="<%= @config.link_imagem %>"/>
    <meta property="og:url" content="<?php echo $url ?>"/>

    <meta name="twitter:title" content="Cano Serrado">
    <meta name="twitter:description" content="<%= @config.site_description %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@<%= @config.twitter %>">
    <meta name="twitter:creator" content="<%= @config.twitter %>">
    <meta name="twitter:image" content="<%= @config.link_imagem %>">

    <meta itemprop="name" content="Cano Serrado">
    <meta itemprop="description" content="<%= @config.site_description %>">
    <meta itemprop="image" content="<%= @config.link_imagem %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300' rel='stylesheet' type='text/css'>
  </head>

  <% if @banner != nil %>
  <body style="background: url(<%= @banner.first.file %>) #080808 fixed center top no-repeat;">
  <% else %>
  <body style="background: #080808 fixed center top no-repeat;">
  <% end %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4982907570491971",
            enable_page_level_ads: true
        });
    </script>
    <%= yield %>

    <script>
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 300){
                $('header').addClass("min");
            }
            else{
                $('header').removeClass("min");
            }
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('.logo').addClass("min");
            }
            else{
                $('.logo').removeClass("min");
            }
        });
        YPlaylist.init({
            playlist: 'PLVVUanhHwI6qM5mRZofDnive4721GDKNy',
            apiKey: 'AIzaSyCTWXTYYIJaKZK6Ful8qpz0b8WoIKZy7w8',
            container: $('#playlist'),
            shuffle: false
        });
    </script>
  </body>
</html>
